<footer>
    <div>
        <a href="#landingPage"><img src="./assets/img/logo.png" alt=""></a>
        
        <p>© Thomas Eckert 2024</p>
        <div>
            <a href="https://github.com/ThomEckert"><img src="./assets/img/footer/git2.png" alt=""/></a>
            <a href="#contact"><img src="./assets/img/footer/email2.png" alt="" /></a>
            <a href="https://www.linkedin.com/in/thomas-eckert-0a7773309/"><img src="./assets/img/footer/linkedin2.png" alt=""/></a>
        </div>
    </div>
    <a [routerLink]="[ '/imprint' ]">Impressum</a>
</footer>
