<div class="middle-point-div">
    <img class="middle-point" src="./assets/img/lets-work-together/ellipse5.png" alt="">
    <img class="point-right" src="./assets/img/lets-work-together/ellipse6.png" alt="">
</div>

<section class="lets-work-together">
    <div class="left">
        <h2>Let's work</h2>
        <h2>together</h2>
    </div>
    <div class="right">
        
        <p>I am a Front-end developer based in Mayance, Germany. I enjoy helping designers and companies bring their ideas into real life.  I am looking forward to continuing my developer career with a job in a junior web developer position. <br>
            <br>
            If you think I'd be a good match for your projects, contact me!
        </p>

        <button>Send a massage</button>
    </div>
    
</section>