<div class="lwt-div">
  <div class="point-div">
    <img
      class="middle-point"
      src="./assets/img/lets-work-together/ellipse5.png"
      alt=""
    />
    <img
      class="point-right"
      src="./assets/img/lets-work-together/ellipse6.png"
      alt=""
    />
  </div>

  <section class="lets-work-together">
    <div class="content-div">
      <div class="left">
        <h2>{{'letsWorkTogether.title' | translate}}</h2>
        <h2>{{'letsWorkTogether.title2' | translate}}</h2>
      </div>
      <div class="right">
        <p>
          {{'letsWorkTogether.subtitle' | translate}}
          <br> <br>
          {{'letsWorkTogether.subtitle2' | translate}}
        </p>
      </div>
    </div>
    <div class="btn-div">
      <div class="btn-placeholder"></div>
      <div><a href="#contact">{{'letsWorkTogether.button' | translate}}</a></div>
      
    </div>
  </section>
</div>