section {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 100px 0;
    background:
        url("./../../../assets/img/my-work/ellipse11.png") no-repeat 17% 70%,
        url("./../../../assets/img/ellipse14.png") no-repeat 95% 95%,
        linear-gradient(#ffffff, #eaf0ff) no-repeat, ;
    h2 {
        font-size: 92px;
        margin: 0 0 32px 0;
        line-height: 92px;
    }
    h3 {
        font-size: 32px;
        color: #5988FF;
        margin: 0 0 32px 0;
    }
    h4 {
        color: #5988FF;
        font-weight: 100;
    }
    span {
        font-weight: 800;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 99%;
    }
    >div {
        display: flex;
        justify-content: space-between;
        width: 90%;
        >div {
            width: 45%;
            display: flex;
            flex-direction: column;
            .input-class {
                width: calc(100% - 70px);
                border: 1px solid #5988FF;
                border-radius: 10px;
                padding: 15px 51px 15px 25px;
                font-size: 16px;
                font-family: 'Montserrat';
                cursor: pointer;
                &:hover {
                    border: 2px solid #5988FF;
                }
            }
            .submit-btn {
                width: 130px !important;
                padding: 15px 25px;
                margin: 15px 0;
                border-radius: 10px;
                border: 1px solid #BBBBBB;
            }
        }
    }
}
.message {
    align-items: center;
    width: 102%;
    height: 550px;
}
.space-for-message {
    height: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        color: red;
        font-size: 14px;
        width: 400px;
    }
    img {
        height: 26px;
        width: 26px;
        position: relative;
        top: -39px;
        left: -1%;
    }
}
.text-area {
    img {
        top: -222px;
    }
}
.checkbox-div {
    display: flex;
    font-size: 14px;
    width: 100%;
    input {
        width: fit-content !important;
        // border: 2px solid #5988FF;
    }
    a {
        color: #5988FF;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            font-weight: 700;
        }
    }
}
.thx-message {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#ffffff, #eaf0ff) no-repeat;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sub-btn-aktive {
    background: white;
    border: #5988FF solid 2px !important;
    color: #5988FF;
    background: linear-gradient(130deg, #5988ff, #5988ff, #0043f0, white 50%)
    right;
    background-size: 300%;
    background-position: right;
    transition: background-position 125ms ease-in-out, color 125ms ease-in-out,
    transform 125ms ease-in-out;
    &:hover {
        transform: scale(1.1);
        background-position: left;
        color: white;
    }
}

@media (max-width: 1000px) {
    section {
        >div {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            >div {
                width: 60%;
                text-align: center;
            }
        }
    }
}
@media (max-width: 750px) {
    section {
        background:
            url("./../../../assets/img/my-work/ellipse11.png") no-repeat 46% 56%,
            url("./../../../assets/img/ellipse14.png") no-repeat 95% 95%,
            linear-gradient(#ffffff, #eaf0ff) no-repeat, ;
        background-size: 150px 150px, 40px 40px, 100% 100%;
        h2 {
            font-size: 45px;
        }
        h3 {
            font-size: 23px;
        }
        >div {
            >div {
                width: 100%;
            }
        }
    }
}

.d-none {
    display: none;
}

