<section>
    <div>
        <h2>Contact</h2>
    </div>
    
    <div>
        <div class="gotAProblem">
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
            <h4>Need a Frontend developer? <span>Contact me!</span></h4>
        </div>

        <div class="message">
            <form>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your name...">

                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Your email...">

                <label for="message">Subject</label>
                <textarea type="message" id="message" name="message" placeholder="Write something..." style="height: 200px;"></textarea>

                <input type="submit" value="Submit">

            </form>
        </div>
    </div>
</section>
