section {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 100px 0;
    background:
        url("./../../../assets/img/my-work/ellipse11.png") no-repeat 18% 88%,
        url("./../../../assets/img/ellipse14.png") no-repeat 95% 95%,
        linear-gradient(#ffffff, #eaf0ff) no-repeat, ;
    h2 {
        font-size: 92px;
        margin: 0;
        line-height: 92px;
    }
    h3 {
        font-size: 32px;
        color: #5988FF;
    }
    h4 {
        color: #5988FF;
        font-weight: 100;
    }
    span {
        font-weight: 800;
    }
    >div {
        display: flex;
        justify-content: space-between;
        width: 90%;
        div {
            width: 45%;
            display: flex;
            flex-direction: column;
            input, textarea {
                width: 91%;
                border: 1px solid #5988FF;
                border-radius: 10px;
                padding: 15px 25px;
                font-size: 16px;
                font-family: 'Montserrat';
            }
        }
    }
}