<div class="background">
    <section>
        <div class="my-work">
            <div>
                <h2>{{'myWork.title' | translate}}</h2>
                <p>{{'myWork.subtitle' | translate}}</p>
            </div>
            <div></div>
        </div>

        <div class="projects">
            <div class="img">
                <img src="./assets/img/my-work/join.png" alt="">
            </div>
            <div class="project-div">
                <h3>Join</h3>
                <h4>JavaScript | HTML | CSS | Firebase</h4>
                <p>{{'myWork.joinText' | translate}}</p>
                <div class="btn-div">
                    <a class="btn-blue" href="https://www.join.thomas-eckert.net" target="_blank" rel="noopener noreferrer">{{'myWork.liveTest' | translate}}</a>
                    <a class="btn-white" href="https://github.com/ThomEckert/MyJoin" target="_blank" rel="noopener noreferrer">Github</a>
                </div>
            </div>
        </div>

        <div class="projects rowReverse">
            <div class="img">
                <img src="./assets/img/my-work/loco.png" alt="">
            </div>
            <div class="project-div">
                <h3>El Pollo Loco</h3>
                <h4>JavaScript (OOP) | HTML | CSS</h4>
                <p>{{'myWork.locoText' | translate}}</p>
                <div class="btn-div">
                    <a class="btn-blue" href="https://www.el-pollo-loco.thomas-eckert.net" target="_blank" rel="noopener noreferrer">{{'myWork.liveTest' | translate}}</a>
                    <a class="btn-white" href="https://github.com/ThomEckert/El-Pollo-Loco" target="_blank" rel="noopener noreferrer">Github</a>
                </div>
            </div>
        </div>

        <div class="projects">
            <div class="img">
                <img src="./assets/img/my-work/pokedex.png" alt="">
            </div>
            <div class="project-div">
                <h3>Pokedex</h3>
                <h4>JavaScript | HTML | CSS | API</h4>
                <p>{{'myWork.pokedexText' | translate}}</p>
                <div class="btn-div">
                    <a class="btn-blue" href="https://www.pokedex.thomas-eckert.net" target="_blank" rel="noopener noreferrer">{{'myWork.liveTest' | translate}}</a>
                    <a class="btn-white" href="https://github.com/ThomEckert/Pokedex" target="_blank" rel="noopener noreferrer">Github</a>
                </div>
            </div>
        </div>

    </section>
</div>