section {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
    url('./../../../assets/img/my-work/ellipse7.png') no-repeat 44% 3%, 
    url('./../../../assets/img/my-work/ellipse8.png') no-repeat 92% 10%, 
    url('./../../../assets/img/my-work/ellipse4.png') no-repeat left 40%,
    url('./../../../assets/img/my-work/ellipse9.png') no-repeat right 70%, 
    url('./../../../assets/img/my-work/ellipse10.png') no-repeat 10% 72%, 
    url('./../../../assets/img/my-work/ellipse13.png') no-repeat 48% 100%;
}

.my-work {
    width: 90%;
    h2 {
        font-size: 96px;
        margin: 100px 0 0 0;
    }
    p {
        font-size: 23px;
    }
    div {
        width: 50%;
    }
}

.projects {
    width: 90%;
    display: flex;
    padding: 0 0 90px 0;
    .img {
        width: 720px;
        height: 460px;
        display: flex;
        justify-content: center;
        align-items: end;
        img {
            width: 85%;
        }
    }
    .project-div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        h3 {
            font-size: 45px;
            color: #5988FF;
            font-family: 'Baloo 2';
            margin: 0;
        }
        h4 {
            font-size: 23px;
            color: #5988FF;
            margin: 0;
        }
        div {
            display: flex;
        }
    }
}

.btn-white {
    border: #5988FF solid 2px;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 23px;
    color: #5988FF;
    text-decoration: none;
    cursor: pointer;
    margin: 50px 50px 0 0;
}

.btn-blue {
    border: #5988FF solid 2px;
    border-radius: 10px;
    background: #5988FF;
    padding: 15px 30px;
    font-size: 23px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    margin: 50px 50px 0 0;
}

.rowReverse {
    flex-direction: row-reverse;
    text-align: end;
    .btn-div {
        flex-direction: row-reverse;
        a {
            margin: 50px 0 0 50px;
        }
    }
}