<nav>
    <a href="#landingPage"><img src="./assets/img/logo.png" alt="logo"></a>
    
    <div class="nav-bar">
        <a href="#letsWorkTogether">{{'navigation.aboutMe' | translate}}</a>
        <a href="#skillSet">{{'navigation.skillSet' | translate}}</a>
        <a href="#myWork">{{'navigation.myWork' | translate}}</a>
        <div class="language">
            <p>
                <a (click)="translate.switchLanguage('en')">EN</a> | <a (click)="translate.switchLanguage('de')">DE</a>
            </p>
        </div>
    </div>

    

    <div class="hidden-burger-menu">
        <!-- nicht vergessen: (click)="toggleValue()" -->
        <img src="./assets/img/burger-menu.png" alt="" >
    </div>
</nav>

<!-- noch an das [class.d-none]="isAktive == false" denken -->
<div class="hidden-nav-bar d-none" >
    <div class="hidden-nav-bar-top">
        <img src="./assets/img/logo2.png" alt="">
        <img src="./assets/img/burger-menu.png" alt="">
    </div>
  
    <div class="hidden-nav-bar-content">
        <div>
            <a href="#letsWorkTogether">{{'navigation.aboutMe' | translate}}</a>
            <a href="#skillSet">Skill set</a>
            <a href="#myWork">{{'navigation.skillSet' | translate}}</a>
            <a href="#contact">{{'navigation.contact' | translate}}</a>
            <div class="language">
              <p>
                  <a (click)="translate.switchLanguage('en')">EN</a> | <a (click)="translate.switchLanguage('de')">DE</a>
              </p>
          </div>
        </div>
    </div>
  </div>