<section class="landing-page">
  <div class="navigation"><app-navigation></app-navigation></div>
  
  <div class="main-div">

    <div class="links">
      <a href="https://github.com/ThomEckert"><img src="./assets/img/git.png" alt=""/></a>
      <a href="#contact"><img src="./assets/img/mail.png" alt="" /></a>
      <a href="https://www.linkedin.com/in/thomas-eckert-0a7773309/"><img src="./assets/img/linkedin.png" alt=""/></a>
    </div>
    <div class="left-div"><img src="./assets/img/user-img.png" alt="Thomas Eckert" /></div>

    <div class="right-div">
      <div class="welcome">
        <h1>Hello! I am Thomas</h1>
        <h2>FRONTEND</h2>
        <h2 class="h2-adaption">DEVELOPER</h2>
      </div>

        <p>SCROLL</p>

      <div class="placeholder-div">
        <div class="placeholder"></div>
      </div>

    </div>
  </div>
</section>

<div class="hidden-nav-bar">
  <div class="hidden-nav-bar-top">
      <img src="./assets/img/logo2.png" alt="">
      <img src="./assets/img/burger-menu.png" alt="">
  </div>

  <div class="hidden-nav-bar-content">
      <div>
          <a href="#letsWorkTogether">About me</a>
          <a href="#skillSet">Skill set</a>
          <a href="#myWork">My work</a>
          <a href="#contact">Contact</a>
      </div>
  </div>
</div>