<section class="landing-page">
  <div>
    <div class="navigation"><app-navigation></app-navigation></div>

    <div class="main-div">
      <div class="links">
        <a
          href="https://github.com/ThomEckert"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="./assets/img/git.png" alt=""
        /></a>
        <a href="mailto:mail&#64;thomas-eckert.net"
          ><img src="./assets/img/mail.png" alt=""
        /></a>
        <a
          href="https://www.linkedin.com/in/thomas-eckert-0a7773309/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="./assets/img/linkedin.png" alt=""
        /></a>
      </div>
      <div class="left-div">
        <img src="./assets/img/user-img.png" alt="Thomas Eckert" />
      </div>

      <div class="right-div">
        <div class="welcome">
          <h1>{{ "landingPage.hello" | translate }}</h1>
          <h2>FRONTEND</h2>
          <h2 class="h2-adaption">{{ "landingPage.developer" | translate }}</h2>
        </div>

        <p>SCROLL</p>

        <div class="placeholder-div">
          <div class="placeholder"></div>
        </div>
      </div>
    </div>
  </div>
</section>
