<div class="background">
    <section>
        <h2>{{'skillSet.title' | translate}}</h2>
        <div>
            <div>
                <img src="./assets/img/skill-set/angular.png" alt="">
                <p>Angular</p>
            </div>
            <div>
                <img src="./assets/img/skill-set/typescript.png" alt="">
                <p>TypeScript</p>
            </div>
            <div>
                <img src="./assets/img/skill-set/javascript.png" alt="">
                <p>JavaScript</p>
            </div>
            <div>
                <img src="./assets/img/skill-set/html.png" alt="">
                <p>HTML</p>
            </div>
            <div>
                <img src="./assets/img/skill-set/scrum.png" alt="">
                <p>Scrum</p>
            </div>
            <div>
                <img src="./assets/img/skill-set/firebase.png" alt="">
                <p>Firebase</p>
            </div>
            <div>
                <img src="./assets/img/skill-set/git.png" alt="">
                <p>GIT</p>
            </div>
            <div>
                <img src="./assets/img/skill-set/css.png" alt="">
                <p>CSS</p>
            </div>
            <div>
                <img src="./assets/img/skill-set/api.png" alt="">
                <p>Rest-Api</p>
            </div>
            <div>
                <img src="./assets/img/skill-set/material-design.png" alt="">
                <p>Material Design</p>
            </div>
        </div>
    </section>
</div>